<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments :: head(Provas)" />

<body>
  <th:block th:replace="fragments :: header" />

  <main class="conteudo">
    <div class="container">
      <section class="conteudo-provas">
        <h1 class="conteudo-provas-titulo">Escolher Prova</h1>
        <div class="tabela-wrapper">
          <table class="conteudo-provas-tabela">
            <thead>
              <tr>
                <th>#</th>
                <th>Descrição</th>
                <th>Divulgação</th>
                <th>Local</th>
                <th>N°&nbsp;Participantes</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="prova: ${provas}">
                <th th:text="${prova.id}"></th>
                <td th:text="${prova.descricao}"></td>
                <td th:text="${prova.divulgacao}"></td>
                <td th:text="${prova.local}"></td>
                <td th:text="${prova.numeroParticipantes}"></td>
                <td class="valor-total" th:text="${prova.valorTotal}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      
      <section class="conteudo-pontuar">
        <form class="conteudo-pontuar-form" th:action="@{/provas/pontuar}"
          th:object="${pontuarEquipe}" method="POST">
          <h1>Pontuar Equipes</h1>
            <table class="conteudo-pontuar-form-tabela">
              <thead>
              <tr>
                <th>Nome</th>
                <th>Pontuação</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="equipe : ${equipes}">
                <td th:text="${equipe.nome}"></td>
                <td>
                  <input class="conteudo-pontuar-form-tabela-input" type="number" min="0"
                    max="1000" required="true" th:field="*{pontuacoes}"/>
                  <input class="conteudo-pontuar-form-tabela-equipeid" type="hidden"
                    name="equipes" th:value="${equipe.id}"/>
                </td>
              </tr>
              </tbody>
            </table>

            <input type="hidden" class="conteudo-pontuar-form-prova" th:field="*{prova}" />
            <button class="conteudo-pontuar-form-submit"
                    type="submit">Pontuar</button>
        </form>
      </section>
    </div>
  </main>

  <th:block th:replace="fragments :: footer" />
</body>

</html>
