<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title th:text="${title}" />
  <link th:href="@{/css/normalize.css}" rel="stylesheet" />
  <link th:href="@{/css/main-bundle.css}" rel="stylesheet" />
  <link href="https://goo.gl/SJNR5a" rel="stylesheet" />
</head>

<body>

  <header th:fragment="header" class="cabecalho">
    <div class="container">
      <img class="cabecalho-logo" src="/img/logo.png"
          alt="Logo da Gincana IFSul"/>

      <aside sec:authorize="isAuthenticated()" class="cabecalho-perfil">
        <img class="cabecalho-perfil-foto" th:src="'/'+${equipe.urlFoto}"
          alt="Imagem da Equipe"/>
        <div th:text="${equipe.nome}" ></div>
        <div th:text="${usuario.nome}" ></div>
      </aside>
    </div>
  </header>

  <div th:fragment="paginator(list, page)">
    <ul th:if="${not #lists.isEmpty(list) and list.totalPages > 1 }" class="pagination">
      <li th:class="${list.first} ? 'disabled' : ''">
        <a th:if="${not list.first}" th:href="@{${page}(page=${0},size=${list.size})}">
          <span class="glyphicon glyphicon-backward"></span>
        </a>
        <a th:if="${list.first}" href="javascript:void(0);">
          <span class="glyphicon glyphicon-backward"></span>
        </a>
      </li>
      <li th:each="i : ${#numbers.sequence(0, list.totalPages -1)}" th:class="${list.number eq i} ? 'active' : ''">
        <a th:if="${not(list.number eq i)}" th:href="@{${page}(page=${i},size=${list.size})}" th:text="${i+1}"></a>
        <a th:if="${list.number eq i}" href="javascript:void(0);" th:text="${i+1}"></a>
      </li>
      <li th:class="${list.last} ? 'disabled' : ''">
        <a th:if="${not list.last}" th:href="@{${page}(page=${list.totalPages -1},size=${list.size})}">
          <span class="glyphicon glyphicon-forward"></span>
        </a>
        <a th:if="${list.last}" href="javascript:void(0);">
          <span class="glyphicon glyphicon-forward"></span>
        </a>
      </li>
    </ul>
  </div>

  <footer th:fragment="footer">
    <section class="footer-informacoes">
      <div class="cabecalho-informacoes-campus">
        <p class="cabecalho-informacoes-campus-localizacao"> Av. Copacabana, 100 - Piratini, Sapucaia do Sul - RS, 93216-120 </p>
        <p class="footer-informacoes-campus-telefone">(51) 3452-9200</p>
      </div>

      <nav class="footer-informacoes-redes-sociais">
        <ul>
          <li class="footer-informacoes-redes-sociais-icones facebook">
            <a href="#">Facebook</a>
          </li>
          <li class="footer-informacoes-redes-sociais-icones twitter">
            <a href="#">Twitter</a>
          </li>
          <li class="footer-informacoes-redes-sociais-icones instagram">
            <a href="#">Instagram</a>
          </li>
        </ul>
      </nav>
    </section>
    <script th:src="@{/js/main-bundle.js}" type="application/javascript"></script>
  </footer>
</body>

</html>