<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments :: head(Home)" />

<body>
  <header class="cabecalho">
    <div class="container">
      <img class="cabecalho-logo" src="img/logo.png"
          alt="Logo da Gincana IFSul"/>

      <section class="cabecalho-informacoes">
        <div class="cabecalho-informacoes-localizacao">
          Av. Copacabana, 100 - Piratini, Sapucaia do Sul - RS, 93216-120
        </div>

        <div class="cabecalho-informacoes-telefone">(51) 3452-9200</div>

        <nav class="cabecalho-informacoes-redes-sociais">
          <ul>
            <li class="cabecalho-informacoes-redes-sociais-icones facebook">
              <a href="#">Facebook</a>
            </li>
            <li class="cabecalho-informacoes-redes-sociais-icones twitter">
              <a href="#">Twitter</a>
            </li>
            <li class="cabecalho-informacoes-redes-sociais-icones instagram">
              <a href="#">Instagram</a>
            </li>
          </ul>
        </nav>
      </section>

      <aside class="cabecalho-perfil">
        <img class="cabecalho-perfil-foto" th:src="${equipe.urlFoto}"
          alt="Imagem da Equipe"/>
        <div th:text="${equipe.nome}" ></div>
        <div th:text="${usuario.nome}" ></div>
      </aside>
    </div>
  </header>

  <a th:href="@{/logout}">Logout</a>

  <main class="conteudo">
    <section class="container">
      <section class="conteudo-equipes">
        <h1 class="conteudo-equipes-titulo">Ranking das Equipes</h1>
        <div class="tabela-wrapper">
          <table class="conteudo-equipes-tabela">
            <thead>
              <tr>
                <th>Posição</th>
                <th>Nome Equipe</th>
                <th>Pontuação</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="equipePontuada,i: ${equipesRanqueadas}">
                <th th:text="${i.index+1}"></th>
                <td th:text="${equipePontuada.key.nome}"></td>
                <td th:text="${equipePontuada.value}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      
      <section class="conteudo-provas">
        <h1 class="conteudo-provas-titulo">Provas</h1>
        <div class="tabela-wrapper">
          <table class="conteudo-provas-tabela">
            <thead>
              <tr>
                <th>#</th>
                <th>Descrição</th>
                <th>Divulgação</th>
                <th>Local</th>
                <th>N°&nbsp;Participantes</th>
                <th>Peso</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="prova: ${provas}">
                <th th:text="${prova.id}"></th>
                <td th:text="${prova.descricao}"></td>
                <td th:text="${prova.divulgacao}"></td>
                <td th:text="${prova.local}"></td>
                <td th:text="${prova.numeroParticipantes}"></td>
                <td th:text="${prova.peso}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </section>
  </main>

  <th:block th:include="fragments :: footer" />
</body>

</html>
