<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments :: head('Gincana - Login')" />

<body>
  <header class="cabecalho">
    <div class="container">
      <img class="cabecalho-logo" src="img/logo.png"
          alt="Logo da Gincana IFSul"/>

      <section class="cabecalho-informacoes">
        <div class="cabecalho-informacoes-localizacao">
          Av. Copacabana, 100 - Piratini, Sapucaia do Sul - RS, 93216-120
        </div>

        <div class="cabecalho-informacoes-telefone">(51) 3452-9200</div>

        <nav class="cabecalho-informacoes-redes-sociais">
          <ul>
            <li class="cabecalho-informacoes-redes-sociais-icones facebook">
              <a href="#">Facebook</a>
            </li>
            <li class="cabecalho-informacoes-redes-sociais-icones twitter">
              <a href="#">Twitter</a>
            </li>
            <li class="cabecalho-informacoes-redes-sociais-icones instagram">
              <a href="#">Instagram</a>
            </li>
          </ul>
        </nav>
      </section>

      <aside class="cabecalho-login">
        <form class="cabecalho-login-form" action="/login" method="POST">
          <fieldset class="cabecalho-login-form-fieldset">
            <legend class="cabecalho-login-form-legend"
                    for="email-usuario">Email</legend>
            <div>
              <input class="cabecalho-login-form-input email"
                    type="email" name="username" placeholder="Email"
                    required="true" autofocus="true"/>
            </div>
          </fieldset>
          <fieldset class="cabecalho-login-form-fieldset">
            <legend class="cabecalho-login-form-legend"
                    for="senha-usuario">Senha</legend>
            <div>
              <input class="cabecalho-login-form-input senha"
                    type="password" name="password" placeholder="Senha"
                    required="true"/>
            </div>
          </fieldset>
          <button class="cabecalho-login-form-submit"
                  type="submit">Entrar</button>
        </form>

        <div class="cabecalho-linha"></div>

        <section class="cabecalho-login-visitante">
          <h2>Não é um usuário? Acesse como visitante!</h2>
          <button class="cabecalho-login-visitante-submit"
                  type="submit">Visitante</button>
        </section>
      </aside>
    </div>
  </header>

  <main class="conteudo">
    <div class="container">
      <section class="conteudo-informacoes">
        <h1 class="conteudo-informacoes-titulo">Sobre a Gincana</h1>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</span> <br />
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</span> <br />
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</span>
      </section>

      <div class="conteudo-linha"></div>

      <aside class="conteudo-cadastro">
        <h1 class="conteudo-cadastro-titulo">Cadastro</h1>
        <form class="conteudo-cadastro-form" action="#">
          <fieldset class="conteudo-cadastro-form-fieldset">
            <legend class="conteudo-cadastro-form-legend"
                    for="email-usuario">Email</legend>
            <div>
              <input class="conteudo-cadastro-form-input email"
                    type="email" name="email-usuario" placeholder="Email"
                    required="true"/>
            </div>
          </fieldset>
          <fieldset class="conteudo-cadastro-form-fieldset">
            <legend class="conteudo-cadastro-form-legend"
                    for="senha-usuario">Senha</legend>
            <div>
              <input class="conteudo-cadastro-form-input senha"
                    type="password" name="senha-usuario" placeholder="Senha"
                    required="true"/>
            </div>
          </fieldset>
          <fieldset class="conteudo-cadastro-form-fieldset">
            <legend class="conteudo-cadastro-form-legend"
                    for="matricula-usuario">Matricula</legend>
            <div>
              <input class="conteudo-cadastro-form-input matricula"
                    type="text" name="matricula-usuario"
                    placeholder="012345INFQ" required="true"/>
            </div>
          </fieldset>
          <fieldset class="conteudo-cadastro-form-fieldset">
            <legend class="conteudo-cadastro-form-legend"
                    for="nascimento-usuario">Data de Nascimento</legend>
            <div>
              <input class="conteudo-cadastro-form-input nascimento"
                    type="date" name="nascimento-usuario" required="true"/>
            </div>
          </fieldset>
          <button class="conteudo-cadastro-form-submit"
                  type="submit">Cadastrar</button>
        </form>
      </aside>
    </div>
  </main>
  <th:block th:include="fragments :: footer" />
</body>
</html>
