<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments :: header(Login)" />
    <link rel="stylesheet" th:href="@{/css/login-bundle.css}" />
</head>
<body>
<div class="container">
    <th:block th:include="fragments :: navbar" />
    <div id="login-container" class="container-fluid">
        <h1>Login</h1>
        <div class="row">
            <div class="col-xs-12 ">
                <form name = "loginform" method = "post" class="form col-centered">
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="aluno@ifsul.com" />
                    </div>

                    <div class="form-group">
                        <label for="pass">Senha:</label>
                        <input type="password" id="pass" class="form-control" name="pass" />
                        <a href = "#">Esqueceu sua senha?</a>
                    </div>
                    <!--/*@thymesVar id="param" type=""*/-->
                    <div th:if="${param.error != null}">
                        <div class="alert alert-danger text-center col-xs-8 col-xs-offset-2" role="alert">
                            Usuário ou senha incorreto.
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type = "submit" class="btn btn-primary" id = "entrar-button" value = "Entrar" />
                    </div>
                </form>

                <div class="text-center">
                    <p class="a">Ainda não possui uma conta? Crie <a href = "#" id = "here">aqui</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/login-bundle.js}" type="application/javascript"></script>
</body>
</html>