<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments :: head('Gincana - Login')" />

<body>
  <header class="cabecalho">
    <div class="container">
      <img class="cabecalho-logo" src="img/logo.png"
          alt="Logo da Gincana IFSul"/>

      <aside class="cabecalho-login">
        <form class="cabecalho-login-form" action="/login" method="POST">
          <fieldset class="cabecalho-login-form-fieldset">
            <legend class="cabecalho-login-form-legend--header">Login</legend>
            <div class="form-container">
              <input class="cabecalho-login-form-input email"
                    type="email" name="username" placeholder="Email"
                    required="true" autofocus="true"/>
            </div>
            
            <div class="form-container">
              <input class="cabecalho-login-form-input senha"
                    type="password" name="password" placeholder="Senha"
                    required="true"/>
            </div>
            <div class="form-container">
              <button class="cabecalho-login-form-submit"
                  type="submit">Entrar</button>
            </div>
          </fieldset>
        </form>

        <div class="cabecalho-linha"></div>

        <section class="cabecalho-login-visitante">
          <h2>Não é um usuário? Acesse como visitante!</h2>
          <button class="cabecalho-login-visitante-submit"
                  type="submit">Visitante</button>
        </section>
      </aside>
    </div>
  </header>

  <main class="conteudo">
    <div class="container">
      <section class="conteudo-informacoes">
        <h1 class="conteudo-informacoes-titulo">Sobre a Gincana</h1>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</span> <br />
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</span> <br />
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</span>
      </section>

      <div class="conteudo-linha"></div>

      <aside class="cadastro">
        <form class="cadastro-form" action="#">
          
          <fieldset class="cadastro-form-fieldset">
            <legend class="cadastro-form-fieldset-legend--header">Cadastro</legend>
            <div class="form-container">
              <label for="email" class="cadastro-form-label">
                E-mail</label>
              <input id="email" class="cadastro-form-input email"
                    type="email" required="true"/>
            </div>
          
            <div class="form-container">
              <label for="senha" class="cadastro-form-label">
                Senha</label>
              <input id="senha" class="cadastro-form-input senha"
                      type="password" name="senha-usuario" required="true"/>
            </div>

            <div class="form-container">
              <label for="matricula" class="cadastro-form-label">
                Matrícula ou Siape</label>
              <input id="matricula" class="cadastro-form-input matricula"
                  type="text" name="matricula-usuario"  required="true"/>
            </div>

            <div class="form-container">
              <label for="data-nascimento" class="cadastro-form-label">
                Data de Nascimento</label>
              <input id="data-nascimento" class="cadastro-form-input nascimento"
                  type="date" name="nascimento-usuario" required="true"/>
            </div>
            <fieldset class="cadastro-form-fieldset--radio">
              <legend class="cadastro-form-fieldset-legend">
                Escolha seu tipo de Usuário:
              </legend>
              <div class="form-container-radio">
                <div>
                  <input id="aluno" name="tipo" type="radio" />
                  <label for="aluno">Aluno</label>
                </div>
                <div>
                  <input id="prof" name="tipo" type="radio"/>
                  <label for="prof">Professor</label>
                </div>
                <div>
                  <input id="ta" name="tipo" type="radio" /> 
                  <label for="ta">Técnico Administrativo</label>
                </div>
              </div>
            </fieldset>
            <div class="form-container">
                <button class="cadastro-form-submit"
                      type="submit">Cadastrar</button>
            </div>
          </fieldset>
        </form>
      </aside>
    </div>
  </main>
  <th:block th:replace="fragments :: footer" />
</body>
</html>
