<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments :: head(Provas)" />

<body>
  <header class="cabecalho">
    <div class="container">
      <img class="cabecalho-logo" th:src="@{/img/logo.png}"
           alt="Logo da Gincana IFSul"/>

      <section class="cabecalho-informacoes">
        <div class="cabecalho-informacoes-localizacao">
          Av. Copacabana, 100 - Piratini, Sapucaia do Sul - RS, 93216-120
        </div>

        <div class="cabecalho-informacoes-telefone">(51) 3452-9200</div>

        <nav class="cabecalho-informacoes-redes-sociais">
          <ul>
            <li class="cabecalho-informacoes-redes-sociais-icones facebook">
              <a href="#">Facebook</a>
            </li>
            <li class="cabecalho-informacoes-redes-sociais-icones twitter">
              <a href="#">Twitter</a>
            </li>
            <li class="cabecalho-informacoes-redes-sociais-icones instagram">
              <a href="#">Instagram</a>
            </li>
          </ul>
        </nav>
      </section>

      <aside class="cabecalho-perfil">
      </aside>
    </div>
  </header>

  <main class="conteudo">
    <div class="container">
      <section class="conteudo">
        <h1 class="conteudo-equipes-titulo"
          th:text="${'Ranking das Equipes na Prova #'+prova.id}"></h1>
        <div class="tabela-wrapper">
          <table class="conteudo-equipes-tabela">
            <thead>
              <tr>
                <th>Posição</th>
                <th>Nome Equipe</th>
                <th>Pontuação</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="equipePontuada,i: ${equipesRanqueadas}">
                <th th:text="${i.index+1}"></th>
                <td th:text="${equipePontuada.key.nome}"></td>
                <td th:text="${equipePontuada.value}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </main>

  <th:block th:include="fragments :: footer" />
</body>

</html>
