@import 'utils/variables';

body {
	font-family: "Gotham Narrow", Gotham, sans-serif;
}

#login-container > h1 {
	text-transform: uppercase;
	color: $main-color !important;
	font-weight: bold;
    text-align: center;
}
	
.col-centered {
    float: none;
    margin: 0 auto 15px auto;
    width: 60%;
}

.a {
	font-style: italic;
	color: $main-color;
}

#logo {
	max-height: 500px;
	max-width: 60%;
	height: auto;
	margin: 15px auto;
	display: block;
}

nav {
	text-transform: uppercase;
	font-family: "Gotham Narrow Bold", Gotham, sans-serif;
	font-weight: bold;
}


.busca {
	font-style: italic;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}

ul {
	outline: 2px solid #E0E0E0;
}

input {
	max-width: 300px;
}

.nav-item {
	padding: 11px 10px;
	height: 40px;
}

.media {
	float: right;
	margin-right: 15px;
}

.container .navbar-default {
	background-color: white;
	border-color: white;
}

.navbar > .container-fluid {
	border-bottom: 2px solid $main-color;
	padding-bottom: 15px;

}
