@import "utils/variables.scss";

.conteudo-equipes {
	width: 40%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.conteudo-equipes-titulo {
	text-align: center;
}

.conteudo-equipes-tabela {
	border-collapse: separate;
	border-spacing: .25em;
	margin: 1em 0;
	width: 90%;

	[colspan] {
		text-align: center;
		font-style: italic;
	}

	[rowspan] {
		vertical-align: middle;
	}

	th,
	td {
		padding: 1em;
	}

	th {
		font-weight: bold;
		color: white;
	}

	thead th {
		background-color: $main-color;
	}

	tbody th {
		background-color: #B6B6B6;
	}

	td {
		background-color: #EEE;
	}
}

.conteudo-provas {
	width: 40%;
}


@media(max-width: 1024px) {
	.conteudo-equipes {
		width: 100%;
	}
}
