@import "utils/variables.scss";

.conteudo-equipes {
	width: 40%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.conteudo-equipes-titulo {
	text-align: center;
}

.conteudo-equipes-tabela {
	border-spacing: 0;
	width: 90%;
  text-align: left;
	
	th, td{
		border-bottom: 1px solid black;
	}
	th {
		background-color: $main-color;
		color: white;
	}
	tr:nth-child(even) {
		background-color: #f2f2f2
	}
  tr:nth-child(2){
    background-color: #fdf87f;
  }
  tr:nth-child(3){
    background-color: #e2e2f9;
  }
}

.conteudo-provas {
	width: 40%;
}

@media(max-width: 1024px) {
  .conteudo-equipes {
		width: 100%;
	}
}