
.cabecalho-login {
	display: flex;
}

.cabecalho-login-form {
	flex-grow: 1;
}

.cabecalho-login-visitante {
	width: 35%;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}

.cabecalho-linha,
.conteudo-linha {
	border-right: 1px solid rgba(200, 200, 200, 0.5);
	margin-left: 5%;
	margin-right: 5%;
}

.cabecalho-login-form-fieldset,
.conteudo-cadastro-form-fieldset {
	border: 0;
}

.cabecalho-login-form-legend,
.conteudo-cadastro-form-legend {
	font-weight: bold;
	display: block;
}

.cabecalho-login-form-input,
.conteudo-cadastro-form-input {
	padding: 10px;
}

.cabecalho-login-form-input:focus {
	border: 1px solid lightskyblue;
	transition: border;
	transition-duration: 1s;
}

.cabecalho-login-visitante h1 {
	flex-grow: 1;
}

.cabecalho-login-form-submit,
.cabecalho-login-visitante-submit,
.conteudo-cadastro-form-submit {
	margin: 0 auto;
	margin-top: 1em;
	height: 3em;
	padding-right: 1em;
	padding-left: 1em;
	background-color: transparent;
	text-transform: uppercase;
	border-radius: 5px;
}

.cabecalho-login-form-submit,
.cabecalho-login-visitante-submit {
	color: #FFF;
}

.conteudo-informacoes-titulo {
	width: 35%;
}

.conteudo-cadastro {
	width: 35%;
	display: flex;
	flex-direction: column;
	flex-grow: 3;
}

.conteudo-cadastro-form-input,
.conteudo-cadastro-form-submit {
	width: 60%;
}

input {
	background-color: transparent;
	border: none;
	border: 1px solid transparent;	
	border-bottom: 1px solid #000;
}

@media(max-width: 1014px){
	
	.cabecalho-login {
		text-align: justify;
	}

	.conteudo-cadastro {
		width: 100%;
		order: -1;
		margin-bottom: 2em;
	}
}