
input {
	background-color: transparent;
	border: none;
	border: 1px solid transparent;	
	border-bottom: 1px solid #000;
}

.cabecalho-login {
	display: flex;
}

.cabecalho-login-form {
	flex-grow: 1;
}

.cabecalho-login-visitante {
	width: 35%;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}

.cabecalho-linha,
.conteudo-linha {
	border-right: 1px solid rgba(200, 200, 200, 0.5);
	margin-left: 5%;
	margin-right: 5%;
}

.cabecalho-login-form-fieldset,
.cadastro-form-fieldset {
	border: 0;
}

.cadastro-form-fieldset--radio {
	border: 0;
	margin-left: 8%;
	text-align: left;
}

.cabecalho-login-form-legend--header,
.cadastro-form-fieldset-legend--header {
	font-size: 2em;
	font-weight: bold;
}
.cadastro-form-fieldset-legend {
	font-weight: bold;
	font-size: 1.1em;
}


.cabecalho-login-form-input,
.cadastro-form-input {
	display: block;
	padding: 7px;
	width: 80%;
	margin: 0 auto;
}

.cadastro-form-label {
	position: absolute;
	top: -0.2em;
	left: 10%;
	font-size: 0.98em;
}

.form-container {
	position: relative;
	padding: 10px;
}

.form-container-radio {
	margin-top: 0;
}

.cabecalho-login-form-input:focus {
	border: 1px solid lightskyblue;
	transition: border;
	transition-duration: 1s;
}

.cabecalho-login-visitante h1 {
	flex-grow: 1;
}

.cabecalho-login-form-submit,
.cabecalho-login-visitante-submit,
.cadastro-form-submit {
	display: block;
	text-align: center;
	margin: 0 auto;
	height: 2em;
	background-color: transparent;
	text-transform: uppercase;
	border-radius: 5px;
}

.cabecalho-login-form-submit,
.cabecalho-login-visitante-submit {
	color: #FFF;
}

.conteudo-informacoes-titulo {
	width: 35%;
}

.cadastro {
	width: 35%;
	display: flex;
	flex-direction: column;
	flex-grow: 3;
}

.cadastro-form-submit {
	width: 70%;
}

@media(max-width: 1014px){
	
	.cabecalho-login {
		text-align: justify;
	}

	.cadastro {
		width: 100%;
		order: -1;
		margin-bottom: 2em;
	}
}