
.cabecalho-login {
	display: flex;
}

.cabecalho-login-visitante {
	width: 35%;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}

.cabecalho-linha,
.conteudo-linha {
	border-right: 1px solid rgba(200, 200, 200, 0.5);
	margin-left: 5%;
	margin-right: 5%;
}

input {
	background-color: transparent;
	border: none;
	border: 1px solid transparent;	
	border-bottom: 1px solid #000;
}

.form__fieldset {
	border: 0;
}

.form__legend {
	font-size: 2em;
	font-weight: bold;
}

.form__legend--cadastro { 
	font-weight: bold;
	font-size: 1.1em;
}

.form__input {
	display: block;
	padding: 10px 7px 2px 2px;
	margin: 0 auto 10px auto;
	width: 80%;
}

.form__input--cabecalho {
	padding: 10px;
	margin: 0 auto;
}

.form__input--cabecalho:focus {
	border: 1px solid lightskyblue;
	transition: border;
	transition-duration: 1s;
}

.form__container {
	position: relative;
	padding: 10px;
}

.form__container--erro {
	margin: 10px;
	border: 1px dashed #cc5151;
	border-radius: 10px;
	padding: .5em;
	background-color: #ffeaea;
}

.form__container--radio {
	margin-top: 0;
}

.form__input--erro {
	border-bottom-color: red;
}

.cabecalho-login-visitante h1 {
	flex-grow: 1;
}

.form__submit {
	display: block;
	text-align: center;
	margin: 0 auto;
	height: 2em;
	border-radius: 5px;
	background-color: transparent;
	text-transform: uppercase;
}

.form__submit--cabecalho {
	color: #FFF;
}

.form__submit--body {
	color: black;
	width: 70%;
}
.cadastro {
	width: 35%;
	display: flex;
	flex-direction: column;
	flex-grow: 3;
}

.form__label {
	position: absolute;
	top: -0.4em;
	left: 10%;
	font-size: 0.98em;
}

.form__fieldset--radio {
	border: 0;
	margin-left: 8%;
	text-align: left;
}

@media(max-width: 1014px){
	
	.cabecalho-login {
		text-align: justify;
	}

	.cadastro {
		width: 100%;
		order: -1;
		margin-bottom: 2em;
	}
}