@import "utils/variables.scss";

.conteudo-provas {  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-pontuar-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-pontuar-form-tabela{
  margin: 1em 0;
}

.conteudo-pontuar-form-tabela,
.conteudo-provas-tabela {
  border-collapse: separate;
  border-spacing: .15em;
  margin: 1em 0;
  width: 90%;

  [colspan] {
    text-align: center;
    font-style: italic;
  }

  [rowspan] {
    vertical-align: middle;
  }

  th,
  td {
    padding: 1em;
  }

  th {
    font-weight: bold;
    color: white;
  }

  thead th {
    background-color: $main-color;
  }

  tbody th {
    background-color: #B6B6B6;
  }

  tbody {
    tr {
      th {
          background-color: #565656;
        }
    }
  }

  td {
    background-color: #EEE;
  }
}