@import "utils/variables.scss";

.conteudo-provas-tabela {
  border-collapse: separate;
  border-spacing: .15em;
  margin: 1em 0;
  width: 90%;

  [colspan] {
    text-align: center;
    font-style: italic;
  }

  [rowspan] {
    vertical-align: middle;
  }

  th,
  td {
    padding: 1em;
  }

  th {
    font-weight: bold;
    color: white;
  }

  thead th {
    background-color: $main-color;
  }

  tbody th {
    background-color: #B6B6B6;
  }

  tbody {
    tr {
      &:nth-child(1){
        th {
          background-color: #daa520;
        }
      }
      &:nth-child(2){
        th {
          background-color: #9c9db7;
        }
      }
      &:nth-child(3){
        th {
          background-color: #cd7f32;
        }
      }
    }
  }

  td {
    background-color: #EEE;
  }
}